{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"env": {
		"node": true,
		"jest": true
	},
	"rules": {
		"no-console": 2,
		"@typescript-eslint/no-non-null-assertion": 0
	}
}